@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Warna default, akan di-override oleh data dari API */
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-dark: #1d4ed8; /* blue-700 */
}

body {
  color: #18181b; /* zinc-900 */
  background-color: #f4f4f5; /* zinc-100 */
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar (opsional tapi bagus) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8; /* zinc-300 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* zinc-400 */
}

